<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO">

	<resultMap type="memberVO" id="memberMap">
  		<result column="age_group" property="ageGroup" />
  		<result column="reg_date" property="regDate" />
  		<result column="last_visit_date" property="lastVisitDate" />
  		<result column="property_status" property="propertyStatus" />
  		<result column="job_key" property="jobKey" />
  		<result column="kakao_id" property="kakaoId" />
  		<result column="email_key" property="emailKey" />
  	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="memberVO" resultMap="memberMap">
		select m.id, m.name, m.password, m.type, m.phone, m.email, m.address, m.age_group, 
			   m.gender, m.reg_date, m.last_visit_date, m.property_status, m.kakao_id, m. email_key, j.value as job_key, m.cash 
		from member m left join job j
			   on m.job_key = j.key
		where id = #{id} and password = #{password}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="memberVO">
  		insert into member(id, name, password, phone, email, address, age_group, gender, property_status, job_key)
  		values(#{id}, #{name}, #{password}, #{phone}, #{email}, #{address}, #{ageGroup}, #{gender}, #{propertyStatus}, #{jobKey})
  	</insert>
  	
  	
  	<!-- 아이디체크 -->
  	<select id="idCheck" parameterType="String" resultType="String">
  		select id from member
  		 where id = #{id}
  	</select>
  	
  	
  	<!-- 현금 업데이트 -->
  	<select id="cashUpdate" parameterType="cashVO">
  		update member
  		 set cash = #{cash}
  		 where id = #{id}
  	</select>
  	
  	
  	
</mapper>

