<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transfer.dao.TransferDAO">



  	<!-- 이체 보낼 상대의 이름 -->
  	<select id="accountOwner" parameterType="String" resultType="String">
	  	select m.name 
	     from member m left join dw_account d
	      on m.id = d.id
	     where d.account_number = #{accountNumber}
  	</select>
  	
  	<!-- 내 계좌에 이체 내역 남기기 -->
  	<insert id="addMyLog" parameterType="transferVO">
  		insert into dw_card_log
  			(log_pk, account_number, amount, log_type_key, to_account_number, to_name)
  		 values(seq_dw_card_log_pk.nextval,
  		 		#{accountNumber},
  		 		#{toAmount},
  		 		#{toType},
  		 		#{toAccountNumber},
  		 		#{toName}
  		 		)
  	</insert>
  	
  	<!-- 상대 계좌에  입금 내역 남기기-->
  	<insert id="addYourLog" parameterType="transferVO">
  		insert into dw_card_log
  			(log_pk, account_number, amount, log_type_key, to_account_number, to_name)
  		 values(seq_dw_card_log_pk.nextval,
  		 		#{toAccountNumber},
  		 		#{toAmount},
  		 		'1',
  		 		#{accountNumber},
  		 		#{myName}
  		 		)
  	</insert>
  	
  	<!-- 내 계좌 잔액 업데이트. 출금 -->
  	<update id="withdrawal" parameterType="transferVO">
  		update dw_account
  		 set
  		  balance = balance - #{toAmount}
  		 where account_number = #{accountNumber}
  	</update>
  	
  	<!-- 상대 계좌 잔액 업데이트. 입금 -->
  	<update id="deposit" parameterType="transferVO">
  		update dw_account
  		 set
  		  balance = balance + #{toAmount}
  		 where account_number = #{toAccountNumber}
  	</update>
  	
  	<!-- 예약 이체 테이블에 insert -->
  	<insert id="autoTransfer1" parameterType="transferVO">
  		insert into auto_transfer(log_pk, account_number, my_name, to_type, to_name, to_account_number, to_amount, auto_trans_day)
  		 values(seq_auto_transfer.nextval, #{accountNumber}, #{myName}, #{toType}, #{toName}, #{toAccountNumber}, #{toAmount}, #{autoTransDay}) 
  	</insert>
  	
  	<!-- 예약 이체 리스트 가져오기  -->
  	<select id="autoTransferList" resultType="transferVO">
  		select account_number as accountNumber, my_name as myName, to_type as toType ,
  			   to_name as toName, to_account_number as toAccountNumber, to_amount as toAmount, auto_trans_day as autoTransDay
  		 from auto_transfer
  	</select>
  	
  	<!-- 적금 계좌에 입금내역 남기기 -->
  	<select id="addSavingsLog" parameterType="transferVO">
  		insert into savings_account_log(log_pk, account_number, amount)
  		 values(seq_savings_log_pk.nextval, #{toAccountNumber}, #{toAmount})
  	</select>
  	
  	<!-- 적금 잔액 업데이트 -->
  	<update id="savings" parameterType="transferVO">
  		update savings_account
  		 set balance = balance + #{toAmount}
  		 where account_number = #{toAccountNumber}
  		  
  	</update>
  	
  	
  	<!-- 예약 이체 해지 -->
  	<delete id="autoTransferDelete" parameterType="String">
  		delete from auto_transfer
  		 where to_account_number = #{accountNumber}
  	</delete>
  	
  	
  	<!-- 카드번호로 계좌번호 가져오기 -->
  	<select id="getAccountNumByCardNum" resultType="String" parameterType="String">
  		select account_number as accountNumber
  			from card
  			where card_number = #{cardNumber}
  	</select>
  	
</mapper>


